[*]
end_of_line = lf
trim_trailing_whitespace = true
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
tab_width = 4

[*.md]
# Trailing whitespace is meaningful in markdown;
# see https://daringfireball.net/projects/markdown/syntax#block
trim_trailing_whitespace = false

[*.yml]
indent_size = 2
